%body
  .navbar.navbar-default.navbar-fixed-top
    .navbar-inner.container
      .navbar-header
        %a.navbar-brand(href="/")

  .container
    .row
      .col-sm-12
        .jumbotron
          %h2 You've reached the Tradeshift Document Download server.

          %p If you'd like to install and use this app, please contact support, otherwise, you might as well browse to the real Tradeshift website.

          %p
            = link_to "Visit Tradeshift.com", "http://tradeshift.com", class: "btn btn-success btn-lg"
            = mail_to "support@tradeshift.com", "Contact Support", class: "btn btn-default btn-lg", target: '_blank'



