.page-header
  %h1 Listing documents

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th
        %th
        %th

    %tbody
      - @documents.each do |document|
        %tr
          %td= document
