.page-header
  %h1 Listing documents

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        - Settings.documents.public_columns.each do |col|
          %td
            = col.to_s.humanize

    %tbody
      - @documents.each do |doc|
        %tr
          - Settings.documents.public_columns.each do |col|
            %td= doc.send(col)
